{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>
        {$info['id']?'编辑':'新增'}小区通知
        {notempty name="pid">
        [&nbsp;父导航：<a href="{:url('index','id='.$id)}">{$parent.title}</a>&nbsp;]
        {/notempty}
    </h2>
</div>
<form action="{:url()}" enctype="multipart/form-data" method="post"  class="form-horizontal">
    <input type="hidden" name="id" value="{$info.id|default=''}">
    <input type="hidden" name="path" value="{$info.path|default=''}">
    <div class="form-item">
        <label class="item-label">小区通知标题</label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">

            <div>
                <label class="item-label">小区通知图片</label>
                <input type="file" name="path"><br>
                <?php
                if(!empty($info['path'])):
                    ?>
                <img src="__ROOT__\uploads\{$info['path']}">
                <?php
                endif;
                ?>

            </div>
                    <label class="item-label">小区通知有效期</label>
                    <div class="controls">

                        <input id="d4311" name="start_time" class="Wdate" type="text" onclick="WdatePicker({maxDate:'#F{\$dp.\$D(\'d4312\')}'})" value="{$info.start_time|default=''}"/>
                        <input id="d4312" name="end_time" class="Wdate" type="text" onclick="WdatePicker({minDate:'#F{\$dp.\$D(\'d4311\')}'})" value="{$info.end_time|default=''}"/>
                        <div class="form-item">

                        </div>
                    <label class="item-label">小区通知内容</label>
                    <div class="controls">
                        <label class="textarea">
                            <textarea name="{$field.name}">{$info.content}</textarea>
                            {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$field['value']))}
                        </label>
                        <div class="form-item">



                            <label class="textarea">
                                <textarea name="{$field.name}">{$field.value}</textarea>
                                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$field['value']))}
                            </label>



                            <br>
                            <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                        </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/admin/js/WdatePicker.js"></script>

{/block}
