{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>
        关于我们
        {notempty name="pid">
        [&nbsp;父导航：<a href="{:url('index','id='.$id)}">{$parent.title}</a>&nbsp;]
        {/notempty}
    </h2>
</div>
<form action="{:url()}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <label class="item-label">关于我们</label>
                        <div class="controls">
                            <textarea name="content" class="textarea input-large"  cols="30" rows="10">{$result.content|default=''}</textarea>
                            <div class="form-item">
                                <br>
                                <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                            </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/admin/js/WdatePicker.js"></script>

<script type="text/javascript" charset="utf-8">
    //导航高亮
    highlight_subnav('{:url('index')}');
</script>
{/block}
