{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>便民服务</h2>
</div>

<div class="cf">
    <a class="btn" href="{:url('add','pid='.$pid)}">新 增</a>
</div>

<div class="data-table table-striped">
    <table>
        <thead>
        <tr>
            <th class="row-selected">
                <input class="checkbox check-all" type="checkbox">
            </th>
            <th>标题</th>
            <th>内容</th>
            <th>发布人</th>
            <th>发布时间</th>
            <th>点击量</th>
            <th>发布状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {notempty name="list"}
        {volist name="list" id="service"}
        <tr>
            <td><input class="ids row-selected" type="checkbox" name="" id="" value="{$service['id']}"> </td>
            <td>{$service.title}</td>
            <td>{$service.content}</td>
            <td>{$service.admin}</td>
            <td><?=date('Y-m-d h:i:s',$service['create_time']);?></td>
            <td>{$service.click}</td>
            <td><?=$service['status']==1?'发布':'未发布'?></td>
            <td>
                <a title="编辑" href="{:url('edit?id='.$service['id'].'&pid='.$pid)}">编辑</a>
                <a title="状态" href="{:url('status?id='.$service['id'].'&pid='.$pid)}"><?=$service['status']==1?'未发布':'发布'?></a>
                <a class="confirm ajax-get" title="删除" href="{:url('del?id='.$service['id'])}">删除</a>
            </td>
        </tr>
        {/volist}
        {else/}
        <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
        {/notempty}
        </tbody>
    </table>
    {$list->render()}
</div>
{/block}


{block name="script"}
<script type="text/javascript">
    $(function() {
        //点击排序
        $('.list_sort').click(function(){
            var url = $(this).attr('url');
            var ids = $('.ids:checked');
            var param = '';
            if(ids.length > 0){
                var str = new Array();
                ids.each(function(){
                    str.push($(this).val());
                });
                param = str.join(',');
            }

            if(url != undefined && url != ''){
                window.location.href = url + '/ids/' + param;
            }
        });
    });
</script>
{/block}